  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lato:wght@400;700&family=Montserrat:wght@400;700&family=Poppins:ital,wght@0,100;0,400;0,700;1,700&display=swap');


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    height: 100vh;
    background-color: #EDEDED;
    overflow: hidden;
    
  }

  .container {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    height: 100%;
  }

.container-img{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.container-info {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-bottom: 2rem;
  gap: 1rem;
}

.info1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  
}

.m2{
  background-color: #2175f5;
  border-radius: 5px;
  padding: 3px 10px 0.5px 10px;
  color: white;
  font-weight: 400;
  font-size: 16px;
  display: inline-flex;
  
}
.info1 h1{
  color: #333333;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
}
.info1 h3{
  font-weight: 500;
  font-size: 18.72px;
  font-family: 'Poppins', sans-serif;
  color: #444444;
}

.info2 h3{
  font-size: 19.2px;
  text-decoration: none solid rgb(58,58,58);
  font-weight: 600;
  color: #3a3a3a;
}

.info2 p{
  font-size: 17px;
  color: #555555;
  text-align: left;
}

.info3 {
  font-size: 16px;
  color: #3a3a3a;
}
.spans {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
}
.info3 h3 {
  font-weight: 600;
  font-size: 19.2px;
}

#tb1 {
  font-size: 17.6px;
  font-weight: 500;
  line-height: 40px;
  background-color: #2175f5;
  color: white;
  margin: 0px 10px;
  width: 80px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
}

#gb512, #tb2 {
  font-size: 17.6px;
  font-weight: 500;
  line-height: 40px;
  background-color: #eeeeee;
  color: #000000;
  margin: 0px 10px;
  width: 80px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
}

.info4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 33.6px;
  color: #333333;
  align-items: flex-start;
}
  

.price i{
  font-size: 22.4px;
  font-weight: 900;
  color: #333333;
  margin: 0px 1px;
  position: relative;
  top: 9px;
}
  

.info4 h1{
  font-size: 33.6px;
  font-weight: 600;
  color: #333333;
}

.info4 a {
  font-size: 17.6px;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: #2175f5;
  text-decoration: none;
  color: white;
  padding: 11px 16px;
  cursor: pointer;
}


@media screen and (max-width: 1028px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .container-img {
    height: 40vh;
  }
}

@media screen and (max-width: 765px){
  .container p{
    font-size: 16px;
  }
  .info4 a{
    font-size: 16px;
  }
  .price i, .price h1{
    font-size: 16px;
  }
  .price i{
    position: static;
  }
}

@media screen and (max-width: 600px) {
  .container-img{
    width: auto;
  }
  .container-img img{
    width: 75%;
  }
  .container-info{
    width: auto;
    padding: 1rem;
  }
  .info4{
    justify-content: left;
    gap: 2rem;
  }
  .info4 h1 , .info4 i{
    font-size: 16px;
  }
  }
